@using SisGesVentas.Shared.Model


<main role="main">
    <!-- TOP SECTION -->
 

    <!-- SECTION 1 -->
    <section class="grid margin text-center">
        <a href="/CategoriasIngresos" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-red">
            <i class="icon-sli-equalizer text-size-60 text-white center margin-bottom-15"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Categorias</h3>
        </a>
        <a href="/ProveedoresIngresos" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-blue">
            <i class="icon-sli-layers text-size-60 text-white center margin-bottom-15"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Proveedores</h3>
        </a>

        <!-- Image-->
        <img class="m-12 l-6 l-row-2 margin-bottom" src="asset/img/img-06.jpg">

        <a href="/ProductosIngresos" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-orange">
            <i class="icon-sli-diamond text-size-60 text-white center margin-bottom-15"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Productos</h3>
        </a>
        <a href="/VentasIngresos" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-aqua">
            <i class="icon-sli-share text-size-60 text-white center margin-bottom-15"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Ventas</h3>
        </a>
    </section>

  

</main>